.BurgerMenu {
  display: none;
}

@media(max-width:500px) {
  .BurgerMenu {
    height: 50px;
    width: 37px;
    display: flex;
    padding: 13px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  .BurgerMenu div {
    background-color: #DA9716;
    height: 11%;
    margin: 3px;
    width: 100%;
  }
}