.TotalMoneyCounter{
<<<<<<< HEAD
  color: #DA9716;
  display: flex;
  font-weight: bold;
  margin-right: 10px ;
  align-items: center;
  font-size: 11pt;
  cursor: pointer;
}

.Currency{
  color: rgb(240, 200, 126);
  margin-right: 5px;
  font-size: 10pt;
}
=======

}
>>>>>>> e46a4f4f6e2e8b0cab5e4acc94d8cf33a844a3ab
